/* body style */
body{
	background : #e2e2e2!important;	
}
/* navbar background  style */
.bg-primary{
	background : #008B8B !important;
}

/* background image style  */
.banner{
    width:100%;
    height:93vh;
	background :linear-gradient(rgba(0,0,0,.8) , rgba(0,0,0,.8)) ,url("../images/calling.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	color : white;	
}

/* form server side validation error msg style */
.error{
     color: red;
}

/* signup page style */
.my-card{
	
	padding : 20px;
	background : #ffffff;	
}

/* login page style ,taken from bootstrap */
#login .container #login-row #login-column #login-box {
  margin-top: 45px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/* sidebar style for dashboard */
@media only screen and (max-width:700px){
	.sidebar{
		display : none;
		width : 80%;
		background-color:white ;
		height:100vh;
		position:fixed;
		padding-top :20px;
		
	}
	.content1{
		margin-left: 0% !important;
	}
}

.sidebar{
	
	background-color: white !important;
/*	width:18%;
	height: 100%;
	position :fixed;
	padding-top: 45px;  */
} 
.sidebar a{
	display: block;
	width : 100%;
	padding-left :25px ;
	padding-top: 15px;
	text-decoration: none;
	color : #696969;
	
}

.sidebar a:hover {
	background-color:#48D1CC;
}
.sidebar .closes:hover {
	background-color:#48D1CC !important;
}
.sidebar .divider{
	height:.4px;
	background-color: #808080;
	width: 100%;
	margin-top: 5px;
}
.content1{
	 margin-top: 58px;
}

.sidebar .title{
	background-color:#F0FFFF;
	padding: 45px;
	margin-top: 0% !important;
	margin-bottom: 0% !important;
}
.sidebar .closes{
	margin-top: 0%!important;
}
.bar:hover , .bar:active{
	font-size : 150% !important;
	cursor: pointer !important;
}
.contact {
	position: relative;
	top : 30px;	
}
/* view icon */
.vicon{
	margin-right: 5px;
}
/*view contacts profile image*/
.profile_pic{
	width:30px;
	height:30px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid white ;
}
/*contact details profile image*/
.info{
	width:30vh;
	height:30vh;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid white ;
}
/*contact details horizontal line of description*/
hr.detail_line{
	width : 100%;
	 border: none;
	  box-shadow: 0 1px 4px 1px cornflowerblue;
	  margin: 0px;	
}
/*profile name title editting*/
h1.pro_name{
	margin-top: 0%;
	margin-bottom: 5px;
}

/*ABOUT SECTION CSS*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #808080;
  color: white;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Footer Styles */

.footer {
    background-color: 		#008B8B;
    color: #fff;
    padding: 30px 0;
    margin-top: 15% ;
}

.footer h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ffd700; /* Change to your desired hover color */
}

/* Responsive Styles */

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer h4,
    .footer p {
        margin-bottom: 10px;
    }

    .social-icons {
        justify-content: center;
    }
}

/* search bar*/
.search-container {
	position : relative;
}
.search-result {
	position : absolute;
	background-color:white;
	border : 1px solid gray;
	width : 100%;
	display : none;
}
/*add active class in sidebar of user page*/
.active{
	background-color: #008B8B !important;
	color : white !important;
}
/*add active class in nav bar of home page of website*/
.active1{
	
	color : white !important;
}
